---
import { type CollectionEntry, getCollection, render } from "astro:content";
import BlogLayout from "../../layouts/page.astro";
import { renderTableOfContents } from "@/utils/render-toc";
import Badge from "@/components/badge.astro";
export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => ({
    params: { slug: post.id },
    props: post,
  }));
}
type Props = CollectionEntry<"blog">;

const post = Astro.props;
const { Content, headings, remarkPluginFrontmatter } = await render(post);

const validHeadings = headings.filter(
  (heading) => heading.depth === 2 || heading.depth === 3,
);

const tableOfContents = renderTableOfContents(validHeadings, 2);
---

<BlogLayout
  renderTableOfContents={validHeadings.length > 0}
  tableOfContents={tableOfContents}
>
  <div class="font-compagnon flex flex-wrap gap-2 font-bold">
    WordCount: <Badge>
      {remarkPluginFrontmatter.wordCount}
    </Badge> | Reading Time: <Badge variant={"secondary"}>
      {remarkPluginFrontmatter.readingTime}
    </Badge>
  </div>
  <Content />
</BlogLayout>
