---
import { getCollection } from "astro:content";
import Layout from "../../layouts/default.astro";
import BlogCard from "@/components/blog-card.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);

---

<Layout>
  <div class="grid md:grid-cols-[3fr_minmax(275px,1fr)] gap-8">
    <aside class="md:order-last">
      TODO: add tags
    </aside>
    <section class="grid md:grid-cols-2 lg:grid-cols-3 gap-8">
      {
        posts.map((post) => (
          <BlogCard postId={post.id} readingTime={post.rendered?.metadata?.frontmatter?.readingTime } wordCount={post.rendered?.metadata?.frontmatter?.wordCount} {...post.data}/>
          
        ))
      }
    </section>
  </div>
</Layout>
