---
import Layout from "../layouts/default.astro";
---

<Layout
  title="Contact page"
  description="Get in touch with me"
  pubDate={new Date(2025, 11, 26)}
>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta rerum
    assumenda vel perferendis deserunt, error rem voluptatem sint aperiam, dicta
    mollitia molestias dolorem quia in magni. Laudantium at debitis adipisci?
  </p>
</Layout>
