---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <h1>🧑 Hi, Friend!</h1>
      <p class="bg-primary px-4">My name is <span id="name">Jose</span>.</p>
      <ul class="my-4">
        <li>Compagnon Roman</li>
        <li class="font-light">Compagnon Light</li>  
        <li class="italic">Compagnon Italic</li>
        <li class="font-bold">Compagnon Bold</li>
        <li class="font-bold italic">Compagnon Medium</li>
      </ul>
    </main>
    <Footer />
  </body>
</html>

<style>
  #name {
    font-weight: bold;
    font-style: italic;
    color: #3498db;
    font-size: x-large;
  }
</style>
