---
import { USERNAME } from "../consts";
import HeaderLink from "./HeaderLink.astro";
import logo from "../assets/logo.png";
import { Image } from "astro:assets";
import GitHub from "@lucide/astro/icons/github";
import RSS from "@lucide/astro/icons/rss";
import ThemeIcon from "./ThemeIcon.astro";
---

<header>
  <nav class="container mx-auto flex items-center justify-between py-4">
    <a href="/" class="flex items-center gap-1.5">
      <Image src={logo} alt="site logo" class="size-10" />
      <h1 class="text-3xl leading-0 font-bold">{USERNAME}</h1>
    </a>
    <div class="space-x-6">
      <HeaderLink href="/blog"><h1>Blog</h1></HeaderLink>
      <HeaderLink href="/contact"><h1>Contact</h1></HeaderLink>
      <HeaderLink href="/resume"><h1>Resume</h1></HeaderLink>
    </div>
    <div class="flex gap-3">
      <ThemeIcon>
        <span class="sr-only">Toggle light/dark mode</span>
      </ThemeIcon>
      <a href="https://github.com/jmgogo" target="_blank">
        <span class="sr-only">Checkout my GitHub profile</span>
        <GitHub class="size-8" />
      </a>
      <a href="">
        <span class="sr-only">Subscribe to my RSS Feed</span>
        <RSS class="size-8" />
      </a>
    </div>
  </nav>
</header>
