---
import DefaultLayout from "./default.astro";
import Prose from "@/components/prose.astro";
---

<DefaultLayout>
  <div class="grid place-items-center">
    <Prose>
      <slot />
    </Prose>
  </div>
</DefaultLayout>
